@page "/Auctions/Dashboard"

@using Microsoft.AspNetCore.Authorization
@using WheelAuction.WebUI.Client.Authorization.Policies
@using WheelAuction.WebUI.Client.Resources.Components.Auctions.Pages

@attribute [Authorize(Policy = PolicyNames.User)]
@inject IStringLocalizer<Dashboard> StringLocalizer

<WheelAuctionPageTitle>
	@StringLocalizer[DashboardResourceNames.PageTitle]
</WheelAuctionPageTitle>

<h2 class="mb-3">
	@StringLocalizer[DashboardResourceNames.PageHeader]
</h2>